.merlin
min-caml.install
*.exe
**/*.s
*.data
*.data.[1-9]*

/asm.ml
/asm.mli
/bytemark/Makefile
/emit.ml
/libmincaml.S
/min-rt/globals.s
/regAlloc.ml
/shootout/Makefile
/simm.ml
/test/manyargs.ml
/test/toomanyargs.ml
/virtual.ml

_build/
